@{
    ViewData["Title"] = "Banana";
}

<div class="text-center">
    <h1 class="display-4">Banana</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate urna nisl, eget finibus nunc ultrices ut. Maecenas venenatis eleifend mi, eu facilisis urna commodo eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam id mauris pharetra odio accumsan mollis eget et nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec vulputate nibh. Aliquam erat volutpat. Curabitur dapibus aliquam bibendum. Vestibulum id quam eu mi porttitor dignissim. Nam tellus est, gravida eget congue ut, venenatis et ligula. Nam ut sollicitudin ante. In quam erat, feugiat in ex sed, suscipit fringilla ante. Pellentesque at rutrum purus. Sed euismod et massa mattis bibendum. Cras molestie turpis sed consectetur bibendum. Phasellus molestie tempor vulputate.

        Nullam non felis nec diam tincidunt molestie. Duis sit amet mauris nec turpis placerat imperdiet eget et turpis. Mauris euismod, quam eget ultrices convallis, quam dolor tincidunt nunc, id ornare augue arcu sit amet arcu. Duis lobortis varius sem vitae tempor. Sed sit amet arcu posuere, fringilla arcu ut, sagittis metus. Cras laoreet blandit felis in tristique. Integer finibus porttitor ligula sit amet pulvinar.

        Mauris ut diam vel nulla tristique fermentum nec at tortor. Suspendisse id urna sit amet turpis commodo lobortis. Nam pellentesque at ante ut suscipit. Proin tortor purus, vestibulum id metus nec, rutrum iaculis ante. Donec porta neque nec feugiat cursus. Morbi vulputate id nunc at mattis. Morbi ut erat non justo imperdiet elementum. Sed eleifend tincidunt sem, eu rutrum odio malesuada quis. Donec in facilisis dui. In eleifend massa sed pretium finibus. Suspendisse gravida tristique enim, at dapibus elit cursus at. Suspendisse fermentum turpis non sapien dictum, nec varius nulla eleifend. Pellentesque tristique ex est, ac eleifend orci aliquet non. Nulla mollis ipsum eget luctus congue. Etiam consequat mauris interdum nibh molestie, id eleifend ex aliquet.
    </p>
</div>