@{
    ViewData["Title"] = "Carrot";
}

<div class="text-center">
    <h1 class="display-4">Carrot</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum nibh ac eros luctus molestie. Etiam mollis nunc tellus, et laoreet erat aliquam non. Integer suscipit venenatis convallis. Phasellus quis diam volutpat, finibus ante at, tincidunt elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse tempor leo non ante sollicitudin consequat et et nunc. Nulla tempor neque nec tellus auctor luctus. Praesent vulputate venenatis urna, at vehicula libero iaculis nec. Sed ultrices nunc nec vehicula interdum. Praesent vel elementum dolor, non vehicula diam. Vestibulum bibendum ex nisi, vel tincidunt ipsum molestie sit amet. Integer suscipit nunc vel sem semper, nec accumsan mi ullamcorper. Vivamus fermentum lobortis mauris, pulvinar volutpat justo faucibus consequat. In elit sapien, fringilla eget justo sit amet, dignissim ultricies ligula. Vivamus scelerisque nibh quis velit viverra, a ultrices leo congue. Aliquam erat volutpat.

        Aenean elementum justo eros, vel consequat nulla sagittis in. Curabitur bibendum turpis eu tortor mattis, at accumsan sem convallis. Maecenas finibus blandit orci. Nullam justo elit, accumsan eu tempus eu, elementum nec lectus. Suspendisse luctus rhoncus iaculis. Donec nec nisl vel lacus pulvinar venenatis. Pellentesque interdum, velit tincidunt consectetur pulvinar, mauris augue sodales metus, nec efficitur urna sapien ut leo. Phasellus dictum ultricies dolor, nec tempor quam congue quis. Duis tincidunt in enim vel aliquam. Etiam odio purus, dapibus consequat arcu elementum, semper porttitor diam. Morbi aliquet et augue rhoncus pulvinar. Pellentesque euismod congue augue. Nam quis tincidunt odio. Ut lacus arcu, suscipit facilisis diam non, blandit aliquam risus. Nunc nisi enim, malesuada in convallis sit amet, rutrum at metus. Aliquam ut lacinia felis.

        Praesent scelerisque, enim ac varius auctor, ex justo elementum mi, quis tristique felis est ut elit. In eget interdum urna. Aenean tristique dui erat, eu iaculis felis fermentum a. In hac habitasse platea dictumst. Fusce facilisis tempus est, nec pulvinar augue auctor eget. Curabitur quis felis pharetra, finibus felis sit amet, finibus nunc. Cras nec nisi lorem. Phasellus consectetur massa in dui convallis congue.
    </p>
</div>