@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">(Page Title Goes Here)</h1>
    <p>(Paragraph Goes Here)</p>
</div>

<div class="card-columns" style="column-count: 2;">
    @for (int i = 0; i < 10; i++)
    {
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">(Card @(i + 1) Title Goes Here)</h5>
                <div class="card-text">
                    <p>(Card @(i + 1) Text Goes Here)</p>
                </div>
            </div>
        </div>
    }
</div>