@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">(Page Title Goes Here)</h1>
    <p>(Paragraph Goes Here)</p>
</div>

<div class="card-columns">
    @{
        for (int i = 0; i < 12; i++)
        {
            renderCard("Card " + (i + 1), "Description " + (i + 1));
        }
    }
</div>

@{
    void renderCard(string title, string text)
    {
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">@title</h5>
                <div class="card-text">
                    <p>@text</p>
                </div>
            </div>
        </div>
    }
}