@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fruits and Vegetables</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lobortis dui tempus lectus accumsan imperdiet. Morbi et est metus. Praesent iaculis sapien ac ipsum efficitur, blandit sodales mi mollis. Maecenas tempor euismod nibh sit amet egestas. Phasellus justo odio, auctor nec urna ac, blandit sodales urna.</p>
</div>

<div class="card-columns">
    @{
        renderCard(
            "Apple",
            "Red & Round",
            "/Apple" // redirect to apple controller
            );
        renderCard(
            "Banana",
            "Yellow & Curved",
            "/Banana" // redirect to banana controller
            );
        renderCard(
            "Carrot",
            "Orange & Straight",
            "/Carrot" // redirect to carrot controller
            );
    }
</div>

@{
    void renderCard(string title, string text, string url)
    {
        <div class="card text-center" onclick="redirect('@url')"> <!-- redirect on click -->
            <div class="card-body">
                <h5 class="card-title">@title</h5> <!-- display card title -->
                <div class="card-text">
                    <p>@text</p> <!-- display card text -->
                </div>
            </div>
        </div>
    }
}

<script>
    function redirect(url) {
        location.href = url; // redirect user to url
    }
</script>