@{
    ViewData["Title"] = "Apple";
}

<div class="text-center">
    <h1 class="display-4">Apple</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet pharetra ante. Sed eu iaculis nunc. Nullam non ornare quam. Vivamus blandit mattis turpis, non dapibus elit gravida ac. Integer pretium tortor at ligula rutrum lobortis. Donec varius diam diam, eget luctus magna varius quis. Donec orci magna, lacinia sit amet justo in, blandit scelerisque neque. Sed accumsan tellus leo, consectetur commodo est efficitur nec. Fusce rhoncus sit amet nunc nec pretium. Ut quis ipsum ex. Aliquam fermentum libero enim, et mattis magna varius ut. Proin tristique sagittis blandit. Proin rhoncus, eros vel pharetra tempor, eros tellus iaculis libero, at condimentum tellus urna non velit. Sed lobortis quis ligula vel volutpat. Donec neque mi, varius non risus id, condimentum tristique risus.

        In gravida facilisis malesuada. Sed et lectus tempus, finibus sem quis, efficitur nisi. Quisque porta auctor neque, sed porttitor velit semper in. Vestibulum eu tincidunt enim. Nullam non libero dui. Aenean velit lacus, blandit quis elit nec, viverra lacinia dui. Ut at enim odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, elit tempus accumsan cursus, ante urna molestie mi, sed pellentesque ligula lorem vitae lacus. Suspendisse ac scelerisque elit, in tincidunt est. Vestibulum sed luctus sapien.

        Phasellus malesuada a odio vel pretium. In tempor auctor elit eu semper. Aenean ut nisl urna. Mauris gravida, ex nec hendrerit placerat, libero arcu dapibus magna, ut ultricies dolor tortor malesuada nulla. Nullam eu orci eget leo gravida iaculis. Donec suscipit sapien lorem, id commodo eros lobortis ut. Donec non justo hendrerit, sollicitudin tellus eget, facilisis orci. Donec tincidunt eros nec nulla sagittis fermentum. Maecenas vehicula dolor mi, id imperdiet odio luctus eget. Cras tincidunt suscipit ultrices. Sed lacinia nunc sapien, et finibus quam consequat a. Cras tincidunt quam a dui tristique feugiat. Fusce ultricies velit urna, non molestie odio interdum a. Nulla tristique in urna porttitor rhoncus. Duis odio purus, bibendum sit amet condimentum et, pharetra eu libero.
    </p>
</div>